{% assign top_pubs = site.publications | where: "selected", true | sort: "date" | reverse  %}
{% assign pubs_by_year = top_pubs | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row mt-3">
    <div class="col">
        <h4><img src="/assets/images/icons/open-book.png" alt="Book" class="inline-badge" style="width: 28px; height: 28px;"> Research & Publications</h4>
        {% for year in pubs_by_year %}
        <div class="my-0 p-0">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<h6 class="d-block text-center">
    <a href="{{ 'publications' | relative_url }}">All Research and Publications <i class="fas fa-angle-double-right"></i></a>
</h6>